.page {
    position: relative;
    min-width: 1200px;
    background-color: #666666;
}
.col4 {
    position: relative;
    /* background-color: aqua; */
    margin-right: 5%;
    width: 64%;
    height: 645px;
    float: left;
}
.col3 {
    position: relative;
    /* background-color: #1f31d1; */
    margin-right: 1%;
    margin-left: 5%;
    width: 25%;
    min-width: 300px;
    height: 645px;
    /* background-color: #666666; */
    float: left;
}